    body {
        background-color: hsl(0, 0%, 8%);
        color: hsl(0, 0%, 100%);
        font-family: "Inter", sans-serif;
    }

    .profile-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin: 0;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: hsl(0, 0%, 12%);
        padding: 42px;
        border-radius: 8px;
    }
    
    .avatar {
        width: 90px;
        border-radius: 100%;
    }

    .full-name {
        font-size: 22px;
        font-weight: 700;
    }

    .location,
    .description {
        font-size: 14px;
    }

    .location {
        font-weight: 600;
        color: hsl(75, 94%, 57%);
    }

    .description {
        font-weight: 400;
    }

    .socials {
        display: flex;
        flex-direction: column;
        width: 100%;
        font-size: 14px;
        text-align: center;
        gap: 16px;
    }

    .social-links {
        background-color: hsl(0, 0%, 20%);
        padding: 12px 0;
        border-radius: 6px;
        margin: 0;
    }

    .attribution { 
        font-size: 0.6875rem; 
        text-align: center; 
    }

    .attribution a { 
        color: hsl(228, 45%, 44%); 
    }